#dictionary {
    width: 50%;
    height: auto;
    float: left;
}

#me {
    width: 40%;
    height: auto;
    float: right;
    padding-left: 8%;
}

#a_container {
    padding-top: 7%;
    display: flex;
}

#sparkle {
    width: 10%;
    padding-left: 8%;
}

p.p {
    display: inline;
}

li{
    padding-bottom: 10%;
}

#content {
    padding-bottom: 50%;
}

.contact {
    padding-top: 10%;
    padding-bottom: 10%;
}