.container-1 {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.box-1 {
    padding-top: 3%;
    width: 30%;
    padding-right: 7%;
    padding-left: 2%;
}

h4 {
    margin: 0px;
    padding-bottom: 2%;
}

h5 {
    margin: 0px;
}

ul {
    padding-left: 0;
}

.g {
    color: #4B4B4B;
    font-weight: 500;
}

.lg {
    color: #ACACAC;
}

b{
    font-weight: 500;
}

.me {
    width: 22vw;
}

.about-container, .fun-container, .future-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}
.sub-box-2 {
    padding-top: 4%;
    width: 50%;
    padding-right: 5%;
}

.coffee, .pumpkin, .bunny {
    width: 10vw;
}

.sub-box-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
}

.future-container {
    padding-bottom: 10%;
}

@media (max-width: 800px) {
    .me {
        width: 40vw;
    }
    
    .coffee, .pumpkin, .bunny {
        width: 19vw;
        padding-left: 0px;
    }
}

@media (min-width: 1600px) { 
    
    .me {
        width: 15vw;
    }
    
    .coffee, .pumpkin, .bunny {
        width: 7vw;
    }
    
    .sub-box-2 {
        padding-top: 3%;
    }
}