.container-1 {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.box-1 {
    padding-top: 3%;
    width: 30%;
    padding-right: 7%;
    padding-left: 2%;
}

h4 {
    margin: 0px;
    padding-bottom: 2%;
}

h5 {
    margin: 0px;
}

.g {
    color: #4B4B4B;
    font-weight: 500;
}

.lg {
    color: #ACACAC;
}

b{
    font-weight: 500;
}

.me {
    width: 28vw;
}