.title-container {
    display: flex;
    padding-right: 8%;
    justify-content: center;
    padding-top: 3%;
}

.title-container {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.title-box-1 {
    align-content: center;
    padding-right: 8%;
}

.title-container div {
    width: 40%;
    padding-bottom: 2%;
}

.intro-container, .prob-container, .const-container, .key-container, .aud-container, .wire-container, .brand-container, .design-container, .first-container, .user-container, .sum-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.res-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.box-2 {
    padding-top: 4%;
    width: 50%;
    padding-right: 5%;
}

.const-container, .key-container, .sum-container {
    color: #FFFFFF;
    background-color: #867CF9;
}

.check {
    list-style-image: url('../images/check.svg');
    padding-left: 1%;
    padding-bottom: 3%;
}

.sessions-container, .safety-container, .add-container, .feat-container, .struct-container, .comp-container, .survey-container, .interview-container, .home-container, .browse-container, .check-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.dimsy-persona, .dimsy-wireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.dimsy-brand, .dimsy-design {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.proto-container {
    background-color: #4B4B4B;
}

.proto-box-1 {
    display: flex;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5%;
}

.proto-box-1 button {
    margin-top: 7%;
    margin-bottom: 0px;
}

.dimsy-proto {
    width: 100%;
    background-color: #4B4B4B;
    display: block;
}

.dimsy-survey, .dimsy-interview, .dimsy-comp {
    width: 25vw;
    padding-left: 5%;
    padding-bottom: 5%;
}

.dimsy-2 {
    width: 33vw;
}

.dimsy-logo {
    width: 88%;
}

.dimsy-ipad, .dimsy-book {
    width: 60%;
    padding-left: 8%;
}


.dimsy-home, .dimsy-browse, .dimsy-check {
    width: 100%;
}

.sub-box-2a {
    width: 40%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sub-box-2 {
    padding-top: 10%;
    width: 40%;
    padding-left: 10%;
}

.sub-box-1 {
    padding-top: 2%;
    width: 60%;
    padding-left: 10%;
    padding-bottom: 10%;
}

.interview-container {
    padding-bottom: 5%;
}

@media (max-width: 800px) {
    .title-container, .intro-container, .prob-container, .const-container, .res-container, .key-container, .aud-container, .wire-container, .brand-container, .design-container, .first-container, .user-container, .sum-container {
        flex-direction: column;
        padding: 5vw;
    }
    
    .title-container {
        flex-direction: column-reverse;
    }
    
    .box-2 {
        width: 100%;
    }
    
    .title-container div {
        width: 100%;
        padding-bottom: 7%;
    }
    
    .survey-container, .comp-container, .interview-container {
        display: flex;
        flex-direction: column;
    }
    
    .sub-box-2a {
        width: 100%;
    }
    
    .dimsy-survey, .dimsy-comp, .dimsy-interview {
        width: 65vw;
    }
    
    .dimsy-2 {
        width: 80vw;
        padding-left: 5%;
    }
    
    .dimsy-book, .dimsy-ipad {
        width: 20vw;
        padding: 0;
    }
    
    .dimsy-wireframe, .dimsy-brand, .dimsy-design {
        width: 90%;
    }
}

@media (min-width: 1600px) { 
    
    .dimsy-logo {
        width: 70%;
    }
    
    .dimsy-2 {
        width: 88%;
    }
    
    .dimsy-book {
        width: 7vw;
    }
    
    .dimsy-ipad {
        width: 6vw;
    }
    
    .dimsy-survey, .dimsy-comp, .dimsy-interview {
        width: 15vw;
    }
    
    .dimsy-persona, .dimsy-wireframe {
        width: 45%;
    }
    
    .dimsy-brand {
        width: 38%;
    }
    
    .dimsy-design {
        width: 30%;
    }
    
    .box-2 {
        padding-top: 3%;
    }
}