.title-container {
    display: flex;
    padding-right: 8%;
    justify-content: center;
    padding-top: 5%;
}

.title-container {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.title-box-1 {
    align-content: center;
}

.intro-container, .prob-container, .const-container, .key-container, .aud-container, .wire-container, .design-container, .first-container, .user-container, .sum-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.res-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}


.intro-box-1 img {
    padding-left: 8%;
}

.const-container, .key-container, .sum-container {
    color: #FFFFFF;
    background-color: #867CF9;
}

.check {
    list-style-image: url('../images/check.svg');
    padding-left: 1%;
    padding-bottom: 3%;
}

.sessions-container, .safety-container, .add-container, .feat-container, .struct-container, .comp-container, .survey-container, .interview-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

 .box-2 {
    padding-top: 4%;
    width: 50%;
    padding-right: 5%;
}
    
.title-container div {
    width: 40%;
    padding-bottom: 7%;
}

.sub-box-2 {
    padding-top: 2%;
    width: 40%;
    padding-right: 10%;
}

.duo-persona, .duo-wireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.duo-design {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.duo-2 {
    width: 80%;
}

.proto-container {
    display: flex;
    background-color: #4B4B4B;
    flex-direction: column;
}

.proto-box-1 {
    display: flex;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5%;
}

.proto-box-1 button {
    margin-top: 7%;
    margin-bottom: 0px;
}

.duo-proto {
    width: 100%;
    background-color: #4B4B4B;
    display: block;
}

.duo-sessions, .duo-safety, .duo-add, .duo-feat, .duo-struct {
    width: 25vw;
    padding-left: 15%;
}

.duo-comp, .duo-interview, .duo-survey {
    width: 25vw;
    padding-left: 5%;
    padding-bottom: 5%;
}

.duo-logo {
    width: 100%
}

.duo-whistle {
    width: 10vw;
}

.duo-cry {
    width: 13vw;
}

.struct-container {
    padding-bottom: 10%;
}

.interview-container {
    padding-bottom: 5%;
}

@media (max-width: 800px) {
    .title-container, .intro-container, .prob-container, .const-container, .res-container, .key-container, .aud-container, .wire-container, .design-container, .first-container, .user-container, .sum-container {
        flex-direction: column;
        padding: 5vw;
    }
    
    .title-container {
        flex-direction: column-reverse;
    }
    
    .box-2 {
        width: 100%;
    }
    
    .title-container div {
        width: 100%;
        padding-bottom: 7%;
    }
    
    .duo-whistle {
        width: 30vw;
    }
    
    .duo-2 {
        width: 60vw;
        padding-left: 20%;
    }
    

    .duo-cry {
        width: 40vw;
    }
    
    .duo-comp, .duo-survey, .duo-interview {
        width: 40vw;
        padding-top: 20%;
    }
    
    .duo-wireframe, .duo-design {
        width: 90%;
    }
    
    .duo-sessions, .duo-safety, .duo-add, .duo-feat, .duo-struct {
        width: 40vw;
    }
}

@media (min-width: 1600px) { 
    
    .duo-2 {
        width: 65%;
    }
    
    .duo-logo {
        width: 80%;
    }
    
    .duo-whistle {
        width: 6vw;
    }
    
    .duo-cry {
        width: 8vw;
    }
    
    .duo-comp, .duo-survey, .duo-interview {
        width: 18vw;
    }
    
    .duo-persona, .duo-wireframe {
        width: 45%;
    }
    
    .duo-design {
        width: 35%;
    }
    
    .duo-sessions, .duo-safety, .duo-add, .duo-feat, .duo-struct {
        width: 15vw;
    }
    
    .box-2 {
        padding-top: 3%;
    }
}