.title-container {
    display: flex;
    padding-right: 8%;
    justify-content: center;
    padding-top: 5%;
}

.title-container {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.title-box-1 {
    align-content: center;
}

.title-container div {
    width: 60%;
    padding-bottom: 7%;
}


.title-container {
    padding-left: 10%;
}

.intro-container, .prob-container, .const-container, .res-container, .key-container, .aud-container, .wire-container, .design-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.box-2 {
    padding-top: 2%;
    width: 60%
}

.intro-box-1 img {
    padding-left: 8%;
}

.const-container, .key-container {
    color: #FFFFFF;
    background-color: #867CF9;
}

.check {
    list-style-image: url('../images/check.svg');
    padding-left: 1%;
    padding-bottom: 3%;
}
