html, body{
    height: 100%;
    width: auto;
    
}

body{ 
    padding: 0; 
    margin: 0;
}

/*
    global fonts
*/

.nav-box a {
    text-decoration: none;
}

.nav-box a:hover {
    color: #FF8C68;
}

h1, h2, h3, h4, h5, h6, a, p, li, h7, h8 {
    font-family: 'Montserrat';
}

h1 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #4B4B4B;
}

h2{
    font-weight: 600;
    font-size: 1.2rem;
}

h3 {
    font-weight: lighter;
    font-size: 1rem;
    color: #4B4B4B;
}

li.check {
    font-size: 1rem;
    color: #FFFFFF; 
    font-weight: 400;
}

li.about {
    font-weight: lighter;
    font-size: 1rem;
    color: #4B4B4B; 
    padding-bottom: 1.5%;
}

h4{
    font-weight: 500;
    font-size: 2rem;
}

h5{
    font-weight: lighter;
    font-size: 1.5rem;
    color: #ACACAC;
}

h6 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

h7 {
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 2rem;
}

h8 {
    color: #867CF9;
    font-size: 0.8rem;
}

p {
    font-size: 1rem;
    color: #4B4B4B;
}

.nav-box a {
    color: #FFFFFF;
}

.o {
    color: #FF8C68;
}

.p {
    color: #867CF9;
}

.w {
    color: #FFFFFF;
}

h3 a {
    color: #867CF9;
    text-decoration: none;
}

h3 a:hover {
    color: #867CF9;
    text-decoration: underline;
}

/*
    global navigation
*/

.nav-container{
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
}
.nav-container div {
    padding: 1%;
}

.logo {
    width: 50px;
    height: 50px;
    padding-left: 18%;
    background: url("../images/logo.svg") no-repeat;
}

.logo:hover {
    background: url("../images/logo2.svg") no-repeat;
}

.foot {
    color: #FF8C68;
}


/*
    global footer
*/


.footer-container{
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-container div{
    width: 50%;
    text-align: center;
}

.foot-nav {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    padding-bottom: 0%;
    background-color: #000000;
    color: #867CF9;
}

.foot-nav a:visited {
    color: #867CF9;
}

.foot-nav a:link {
    color: #867CF9;
}

.foot-nav a:active {
    color: #867CF9;
}

.social {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
}


/*
    global buttons
*/

button {
    color: #FFFFFF;
    background-color: #867CF9;
    font-family: 'Montserrat';
    font-weight: normal;
    text-decoration: none;
    border: none;
    border-radius: 5vw;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #867CF9;
    border-color: #867CF9;
    border-style: solid;
    border-width: thin;
}

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

/*
    larger screens
*/

@media (min-width: 1600px) { 
    #Container, #Duo {
        padding-left: 25%;
        padding-right: 25%;
    }
    
    .social {
        width: 2vw;
    }
    
    h3, li.check, li.about {
        font-size: 1.2rem;
    }
}


@media (min-width: 801px) {    
    button {
        width: 70%;
        height: 35px;
        font-size: 1rem;
    }
    
    .social {
        width: 3vw;
    }
    
    #Container, #Duo {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/*
    mobile screens
*/

@media (max-width: 800px) {
    
    h6 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    li {
        font-size: 18px;
    }
    
    h8 {
        font-size: 12px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h7 {
        font-size: 35px;
    }
    
    h1 {
        font-size: 16px;
    }
    
    h4 {
        font-size: 25px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    p {
        font-size: 12px;
    }
    
    button {
        width: 100%;
        height: 6vw;
        font-size: 15px;
    }
    
    .social {
        width: 9vw;
    }
    
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
}
