html, body{
    height: 100%;
    width: auto;
}

body{
    margin-top: %5;
    margin-bottom: %5;
    margin-left: 17%;
    margin-right: 17%;
}

h1, h3, a, ul {
    font-family: 'Montserrat';
}

h2, p {
    font-family: Helvetica;
    font-weight: lighter;
}

h1, .navspace {
    font-weight: 500;
}

h3 {
    font-weight: 300;
    font-size: 1.6vw;
}

h1 {
    font-size: 2.6vw;
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 1.4vw;
}

ul {
    font-size: 1.3vw;
}

img.logo {
    width: 9%;
    height: 9%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-size: 1.5vw;
    text-decoration: none;
}

.navspace {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}


.navspace a {
    color: #867CF9;
}

#projects {
    margin-left: 30%;
}

#about {
    margin-right: 30%;
}

.o {
    color:#FFAD93;
}

.p {
    color:#867CF9;
}

.line {
    width: 99%;
}

.i {
    font-style: italic;
    font-weight: 350;
    color: #808080;
}

.g {
    color: #808080;
}

.return {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.button {
    background-color: black;
    cursor:pointer;
    border: none;
    width: 10vw;
    height: 7vh;
    border-radius: 40px 0px 40px 40px;
    color: white;
    font-family: 'Montserrat';
}

.left {
    width: 50%;
    height: auto;
    float: left;
}

.right {
    width: 40%;
    float: right;
}