html, body{
    height: 100%;
    width: auto;
    
}

body{ 
    padding: 0; 
    margin: 0;
}

/*
    global fonts
*/

.nav-box a {
    text-decoration: none;
}

.nav-box a:hover {
    color: #FF8C68;
}

h1, h2, h3, h4, h5, h6, a, p, li, h7, h8 {
    font-family: 'Montserrat';
}

h1 {
    font-weight: 400;
    font-size: 2.2vw;
    color: #4B4B4B;
}

h2{
    font-weight: 600;
    font-size: 1.3vw;
}

h3 {
    font-weight: lighter;
    font-size: 1.8vw;
    color: #4B4B4B;
}

li {
   font-weight: lighter;
    font-size: 1.8vw;
    color: #FFFFFF; 
    font-weight: 400;
}

h4{
    font-weight: 500;
    font-size: 3.1vw;
}

h5{
    font-weight: lighter;
    font-size: 2.3vw;
    color: #ACACAC;
}

h6 {
    font-weight: 600;
    font-size: 2.2vw;
    letter-spacing: 1.5px;
}

h7 {
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 4vw;
}

h8 {
    color: #867CF9;
    font-size: 1.2vw;
}

p {
    font-size: 1.5vw;
    color: #4B4B4B;
}

.nav-box a {
    color: #FFFFFF;
}

.o {
    color: #FF8C68;
}

.p {
    color: #867CF9;
}

.w {
    color: #FFFFFF;
}

h3 a {
    color: #867CF9;
    text-decoration: none;
}

h3 a:hover {
    color: #867CF9;
    text-decoration: underline;
}

@media (max-width: 800px) {
    
    h6 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    li {
        font-size: 18px;
    }
    
    h8 {
        font-size: 12px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h7 {
        font-size: 35px;
    }
    
    h1 {
        font-size: 16px;
    }
    
    h4 {
        font-size: 25px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    p {
        font-size: 12px;
    }
    
    button {
        width: 100%;
        height: 6vw;
        font-size: 15px;
    }
    
    .social {
        width: 9vw;
    }
    
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
}

@media (min-width: 801px) {    
    button {
        width: 100%;
        height: 4vw;
        font-size: 1.7vw;
    }
    
    .social {
        width: 5vw;
    }
}

/*
    global navigation
*/

.nav-container{
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
}
.nav-container div {
    padding: 1%;
}

.logo {
    width: 60%;
    padding-left: 18%;
}

.foot {
    color: #FF8C68;
}


/*
    global footer
*/


.footer-container{
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-container div{
    width: 50%;
    text-align: center;
}

.foot-nav {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    padding-bottom: 0%;
    background-color: #000000;
    color: #867CF9;
}

.foot-nav a:visited {
    color: #867CF9;
}

.foot-nav a:link {
    color: #867CF9;
}

.foot-nav a:active {
    color: #867CF9;
}

.social {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}


/*
    global buttons
*/

button {
    color: #FFFFFF;
    background-color: #867CF9;
    font-family: 'Montserrat';
    font-weight: normal;
    text-decoration: none;
    border: none;
    border-radius: 5vw;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #867CF9;
    border-color: #867CF9;
    border-style: solid;
    border-width: thin;
}

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

/*
    larger screens
*/

@media (min-width: 1600px) {    
    h1, h5, h6 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 16px;
    }
    
    h3, li {
        font-size: 24px;
    }
    
    h4 {
        font-size: 40px;
    }
    
    h7 {
        font-size: 50px;
    }
    
    h8 {
        font-size: 15px;
    }
    
    p {
        font-size: 18px;
    }
    
    #Container, #Duo {
        padding-left: 20%;
        padding-right: 20%;
    }
}