html, body{
    height: 100%;
    width: auto;
}

body{
    margin-top: %5;
    margin-bottom: %5;
    margin-left: 17%;
    margin-right: 17%;
}

h1, h3, a {
    font-family: 'Montserrat';
}

h2, p {
    font-family: Helvetica;
    font-weight: lighter;
}

h1, .navspace {
    font-weight: 500;
}

h3 {
    font-weight: 300;
    font-size: 1.6vw;
}

h1 {
    font-size: 2.6vw;
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 1.4vw;
}

img.logo {
    width: 9%;
    height: 9%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-size: 20;
    text-decoration: none;
}

.navspace {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}


.navspace a {
    color: #867CF9;
}

#projects {
    margin-left: 30%;
}

#about {
    margin-right: 30%;
}

.o {
    color:#FFAD93;
}

.p {
    color:#867CF9;
}

.line {
    width: 99%;
}

.i {
    font-style: italic;
    font-weight: 350;
}

.g {
    color: 808080;
}

.return {
    position: relative;
    bottom: 0;
}