html, body{
    height: 100%;
    width: auto;
    
}

body{ 
    padding: 0; 
    margin: 0; 
}

/*
    global fonts
*/

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, p, li {
    font-family: 'Montserrat';
}

h1 {
    font-weight: 400;
    font-size: 40px;
    color: #4B4B4B;
}

h2{
    font-weight: 600;
    font-size: 20px;
}

h3 {
    font-weight: lighter;
    font-size: 35px;
    color: #4B4B4B;
}

li {
   font-weight: lighter;
    font-size: 35px;
    color: #FFFFFF; 
    font-weight: 400;
}

h4{
    font-weight: 500;
    font-size: 50px;
}

h5{
    font-weight: lighter;
    font-size: 30px;
    color: #ACACAC;
}

h6 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1.5px;
}

p {
    font-size: 23px;
    color: #4B4B4B;
}

a {
    color: #FFFFFF;
}

.o {
    color: #FF8C68;
}

.p {
    color: #867CF9;
}

.w {
    color: #FFFFFF;
}

/*
    global navigation
*/

.nav-container{
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
}
.nav-container div {
    padding:1%;
}

.logo {
    width: 70%;
    padding: 10%;
}


/*
    global footer
*/


.footer-container{
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-container div{
    width: 50%;
    text-align: center;
}


/*
    global buttons
*/

button {
    width: 400px;
    color: #FFFFFF;
    background-color: #867CF9;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    border: none;
    height: 45px;
    border-radius: 30px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #867CF9;
    border-color: #867CF9;
    border-style: solid;
}