h2 {
    text-align: center;
    padding-top: 7%;
}

#p1 {
    width: 100%;
}

#content {
    padding-bottom: 10%;
}

h3 {
    margin-bottom: 0;
    font-size: 2vw;
}

p.o {
    margin-top: 1%;
    font-size: 1.3vw;
}

#portfolio {
    padding-top: 5%;
}

.contact {
    padding-top: 55%;
}