.info-container {
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.info-box-1{
    width: 50%;
    padding-top: 20vh;
    padding-left: 10vw;
}

.duo-container, .zeit-container, .rooted-container, .dimsy-container{
    display: flex;
    padding-right: 5%;
    justify-content: center;
    padding-top: 5%;
}

.box-1 {
    margin-left: 2%;
}

.box-2 {
    margin-right: 2%;
}

.duo-container, .zeit-container, .rooted-container {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.box-1 {
    align-content: center;
}

.duo-container div, .zeit-container div, .rooted-container div, .dimsy-container div {
    width: 50%;
    padding-bottom: 6%;
}

.box-2 {
    padding-right: 5%;
}

.duo-container, .zeit-container, .rooted-container {
    padding-left: 10%;
}

.dimsy-container{
    padding-left: 5%;
}

.dimsy-container .box-1 {
    padding-right: 5%;
}

.arrow {
    width: 3vw;
    height: auto;
    padding-top: 25vh;
}

.duo-logo {
    width: 72%;
    height: auto;
}

.zeit-logo {
    width: 32%;
    height: auto;
}

.rooted-logo {
    width: 52%;
    height: auto;
}

.dimsy-logo {
    width: 46%;
    height: auto;
}

.duo {
    width: 70%;
    height: auto;
}

.zeit {
    width: 70%;
    height: auto;
}

.rooted {
    width: 75%;
    height: auto;
}

.dimsy {
    width: 100%;
    height: auto;
}