.info-container {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 5%;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
}

.info-box-1{
    width: 50%;
}

.info-box-2{
    padding-top: 2%;
}

.duo-container, .zeit-container, .rooted-container, .dimsy-container{
    display: flex;
    padding-right: 5%;
    justify-content: center;
    padding-top: 5%;
}

.duo-container, .zeit-container, .rooted-container {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.box-1 {
    align-content: center;
}

.duo-container div, .zeit-container div, .rooted-container div, .dimsy-container div {
    width: 60%;
    padding-bottom: 7%;
}


.duo-container, .zeit-container, .rooted-container {
    padding-left: 10%;
}

.dimsy-container{
    padding-left: 5%;
}

.dimsy-container .box-1 {
    padding-right: 5%;
}

.arrow {
    width: 3vw;
    height: auto;
}

.duo-logo {
    width: 75%;
    height: auto;
}

.zeit-logo {
    width: 35%;
    height: auto;
}

.rooted-logo {
    width: 55%;
    height: auto;
}

.dimsy-logo {
    width: 50%;
    height: auto;
}

.duo {
    width: 70%;
    height: auto;
}

.zeit {
    width: 70%;
    height: auto;
}

.rooted {
    width: 75%;
    height: auto;
}

.dimsy {
    width: 100%;
    height: auto;
}