.info-container {
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.info-box-1{
    width: 53%;
    padding-top: 20vh;
}

.duo-container, .zeit-container, .rooted-container, .dimsy-container{
    display: flex;
    padding-right: 5%;
    justify-content: center;
    padding-top: 5%;
}

.box-1 {
    margin-left: 2%;
}

.box-2 {
    margin-right: 2%;
}

.duo-container, .zeit-container, .rooted-container {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.box-1 {
    align-content: center;
}

.duo-container div, .zeit-container div, .rooted-container div, .dimsy-container div {
    width: 50%;
    padding-bottom: 6%;
}

.box-2 {
    padding-right: 5%;
}

.duo-container, .zeit-container, .rooted-container {
    padding-left: 10%;
}

.dimsy-container{
    padding-left: 5%;
}

.dimsy-container .box-1 {
    padding-right: 5%;
}

.arrow {
    width: 3vw;
    height: auto;
    padding-top: 25vh;
}

.duo-logo {
    width: 72%;
    height: auto;
}

.zeit-logo {
    width: 32%;
    height: auto;
}

.rooted-logo {
    width: 52%;
    height: auto;
}

.dimsy-logo {
    width: 90%;
    height: auto;
}

.duo {
    width: 70%;
    height: auto;
}

.zeit {
    width: 70%;
    height: auto;
}

.rooted {
    width: 75%;
    height: auto;
}

.dimsy {
    width: 95%;
    height: auto;
}

/* arrow smooth scroll */

html {
  scroll-behavior: smooth;
 }

@media (max-width: 800px) {
    .info-box-1 h1 {
        font-size: 5vw;
        text-align: center;
    }
    
    .info-box-1 {
        width: 80%;
    }
    
    .duo-container, .zeit-container, .rooted-container, .dimsy-container {
        flex-direction: column;
        width: 150vw;
        padding: 12%;
    }
}

@media (min-width: 801px) {
    .info-box-1 h1 {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid #FF8C68; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Scrolling effect as the typing happens */
        animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #FF8C68; }
    }
}

@media (min-width: 1600px) {
    .info-box-1{
        width: 50%;
    }
}