.title-container {
    display: flex;
    padding-right: 8%;
    justify-content: center;
    padding-top: 5%;
}

.title-container {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

.title-box-1 {
    align-content: center;
}

.title-box-2 {
    padding-top: 5%;
}

.title-container div {
    width: 40%;
    padding-bottom: 7%;
}

.intro-container, .prob-container, .const-container, .key-container, .aud-container, .wire-container, .brand-container, .design-container, .first-container, .user-container, .sum-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.res-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.box-2 {
    padding-top: 4%;
    width: 50%;
    padding-right: 5%;
}

.const-container, .key-container, .sum-container {
    color: #FFFFFF;
    background-color: #867CF9;
}

.check {
    list-style-image: url('../images/check.svg');
    padding-left: 1%;
    padding-bottom: 3%;
}

.diary-container, .comp-container, .interview-container, .options-container, .time-container, .simp-container, .rem-container, .on-container, .word-container, .add-container  {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.sub-box-2 {
    width: 40%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.root-persona, .root-design {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.root-wireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.root-brand-1, .root-brand-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
}


.proto-container {
    background-color: #4B4B4B;
}

.proto-box-1 {
    display: flex;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5%;
}

.proto-box-1 button {
    margin-top: 7%;
    margin-bottom: 0px;
}

.root-options, .root-time, .root-simp, .root-rem, .root-on, .root-word, .root-add {
    width: 23vw;
    padding-left: 15%;
}

.rooted-logo {
    width: 67%;
}

.rooted-2 {
    width: 28vw;
}

.root-sad, .root-happy {
    width: 5vw;
    padding-left: 30%;
}

.root-comp, .root-interview, .root-diary {
    width: 25vw;
    padding-left: 5%;
    padding-bottom: 5%;
}

.root-proto {
    width: 100%;
    background-color: #4B4B4B;
    display: block;
}

.root-add {
    padding-bottom: 10%;
}

.interview-container {
    padding-bottom: 5%;
}

@media (max-width: 800px) {
    .title-container, .intro-container, .prob-container, .const-container, .res-container, .key-container, .aud-container, .wire-container, .brand-container, .design-container, .first-container, .user-container, .sum-container {
        flex-direction: column;
        padding: 5vw;
    }
    
    .title-container {
        flex-direction: column-reverse;
    }
    
    .box-2 {
        width: 100%;
    }
    
    .title-container div {
        width: 100%;
        padding-bottom: 7%;
    }
    
    .rooted-2 {
        width: 65vw;
        padding-left: 15%;
    }
    
    .root-happy, .root-sad {
        width: 20vw;
        padding: 0px;
    }
    
    .root-diary, .root-comp, .root-interview {
        width: 40vw;
        padding-top: 20%;
    }
    
    .root-wireframe, .root-brand-1, .root-brand-2, .root-design {
        width: 90%;
    }
    
    .root-options, .root-time, .root-simp, .root-rem, .root-on, .root-word, .root-add {
        width: 40vw;
    }
}

@media (min-width: 1600px) { 
    
    .rooted-logo {
        width: 58%;
    }
    .rooted-2 {
        width: 70%;
    }
    
    .root-happy, .root-sad {
        width: 3vw;
    }
    
    .root-diary, .root-comp, .root-interview {
        width: 15vw;
    }
    
    .root-persona, .root-wireframe {
        width: 45%;
    }
    
    .root-design {
        width: 40%;
    }
    
    .root-brand-1, .root-brand-2 {
        width: 38%;
    }
    
    .root-options, .root-time, .root-simp, .root-rem, .root-on, .root-word, .root-add {
        width: 15vw;
    }
    
    .box-2 {
        padding-top: 3%;
    }
    
    .title-box-2 {
        width: 30%;
    }
}